.cards {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 8px;
margin: 48px 0;
text-decoration: none;
}

.card {
	border-radius: 7px;
	padding: 16px;
	text-align: center;
	width: 250px;
	box-shadow: #0000006e 5px 0px 11px 0px;
	justify-self: center;
}

.card img {
	height: 250px;
	width: 250px;
}

@media (min-width:  580px) {
	.cards {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1200px) {
	.cards {
		grid-template-columns: 1fr 1fr 1fr;
	}
}